body {
  margin: 0;
}

@media screen and (max-width: 480px) {/*スマホ*/
  header {  
    color: black;
    background-color: gray;
    padding: 0;
    width: 100%;
    height: 10%;
    font-size: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 481px) { /*PC*/
	header {
    color: black;
    background-color: gray;
    padding: 0;
    width: 100%;
    height: 10%;
    font-size: 40px;
    text-align: center;
  }
}

